<p id="notice"><%= notice %></p>

<h1>Bookings made by <%= current_user.email %></h1>
<table class="table table-stripped" style="width:100%">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Check In</th>
      <th>Check Out</th>
      <th>Days</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><a href="<%= user_booking_path(current_user,booking)%>"><%= booking.listing.title %></a></td>
        <td><%= booking.listing.price %></td>
        <td><%= booking.check_in %></td>
        <td><%= booking.check_out %></td>
        <td><%= booking.day %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
