<h1>All Property Listings</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Images</th>
      <th>Posted by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.description %></td>
        <td><%= listing.price %></td>
        <td><%= image_tag listing.images[0].url.to_s, width:"100%" if listing.images[0].url.present?%></td>
        <td><%= listing.user.email %></td>
        <% if logged_in? %>
        <% if current_user.id != listing.user.id%>
        <td><%= link_to 'Book!', new_listing_booking_path(listing) %></td>
        <%end%>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="status">
</div>
	

<!-- <a href="/auth/facebook"> Facebook Login</a> -->