<h1>All Property Listings</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Images</th>
      <th>Posted by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.description %></td>
        <td><%= listing.price %></td>
        <td><%if listing.images? %>
            <% listing.images.each do |image| %>
              <%= image_tag(image.url, width: "100%") %>
            <% end%>
          <% end%></td>
        <td><%= listing.user.email %></td>
        <td><%= link_to 'Book!', new_listing_booking_path(listing) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="status">
</div>
	

<!-- <a href="/auth/facebook"> Facebook Login</a> -->